$def with (iot_id, ir_stat, ir_values, error, tablereturn)

<html>
    <head>
        <title>SQL database addition successful</title>
    </head>
<body>

Successfully Added the following data:

<table style="width:100%">
  <tr>
    <th>iot_id</th>
    <th>ir_stat</th> 
    <th>ir_values</th>
  </tr>
$if iot_id and ir_stat and ir_values:
  	<tr>
    	<td>$iot_id</td>
    	<td>$ir_stat</td>
    	<td>$ir_values</td>
  	</tr>
</table>
$if tablereturn:
	<p>$tablereturn</p>

$if error:
	<p>ERROR One or more variables not given</p>




</body>
</html>