$def with (iot_id, commands, error, tablereturn)

<html>
    <head>
        <title>SQL database addition successful</title>
    </head>
<body>

Successfully Added the following data:

<table style="width:100%">
  <tr>
    <th>iot_id</th>
    <th>commands</th> 
  </tr>
$if iot_id and commands:
  	<tr>
    	<td>$iot_id</td>
    	<td>$commands</td>
  	</tr>
</table>
$if tablereturn:
	<p>$tablereturn</p>

$if error:
	<p>ERROR One or more variables not given</p>




</body>
</html>